version: 2
updates:
  - package-ecosystem: docker
    directory: /
    schedule:
      interval: daily
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
  - package-ecosystem: pip
    allow:
      - dependency-type: all
    directory: /
    open-pull-requests-limit: 10
    schedule:
      interval: weekly
